.card_github {
    background-color: rgb(7, 8, 8);
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 10; 
}

.container-github .luz_azul_esquerda {
    position: absolute;
    top: 200px;
    left: 1px;
    z-index: -1; 
}

.container-github .luz_azul_direita {
    position: absolute;
    top: -1px;
    right: 1px;
    z-index: -1;
}

.container-github .quadro_pontilhado {
    position: absolute;
    top: 70px;
    left: 200px;
    z-index: -1;
}

.container-logo {
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-logo span {
    color: #ffffff;
    font-size: 40px;
}

.container-logo .logo {
    height: 80px;
}

.navbar{
    position: fixed;
    margin-top: 10px;
}

.input {
    display: flex;
    align-items: center;
    width: 600px; 
    max-width: 350px; 
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.input .form-control {
    flex: 1; 
    width: 100%; 
    border: none;
    padding-left: 10px;
    height: 40px; 
}

.input .btn {
    border: none;
    background-image: url('../../../public/lupa.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px; 
    height: 40px; 
    cursor: pointer;
}

.card_github img {
    height: 80px;
}
.card_github input {
    width: 350px;
}



