/* .container_borda {
    align-items: center;
    justify-content: end;
    height: 180px;
    width: 700px;
    border-radius: 10px;
    background-color: #D9D9D9;
    position: relative;
    top: 40px;
    gap: 20px;
    display: flex;
}

.container_perfil {
    gap: 20px;
    display: flex;
    position: absolute;
    left: 60px;
}

.container_descricao h3 {
    display: flex;
    font-size: 20px;
    color: #005CFF;
}

.container_descricao span {
    display: flex;
    width: 300px;
}

.container_foto .perfil_git {
    height: 130px;

    border-radius: 80px;
}

.container_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 135px;
    border-radius: 80px;
    background-color: #005CFF;
}
 */

 .container_borda {
    align-items: center;
    justify-content: end;
    height: 180px;
    width: 700px;
    border-radius: 10px;
    background-color: #D9D9D9;
    position: relative;
    top: 40px;
    gap: 20px;
    display: flex;
}

.erro_container {
    justify-content: center;
    display: flex;
}

.erro_texto {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.container_perfil {
    gap: 20px;
    display: flex;
    position: absolute;
    left: 60px;
}

.container_descricao h3 {
    display: flex;
    font-size: 20px;
    color: #005CFF;
}

.container_descricao span {
    display: flex;
    width: 300px;
}

.container_foto .perfil_git {
    height: 130px;
    border-radius: 80px;
}

.container_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 135px;
    border-radius: 80px;
    background-color: #005CFF;
}

